@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');
html {
    background-color: #27A6F4;
}

.homePage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div h2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list {
    border: solid 1px;
    background-color: lightgrey;
    border-radius: 10px;
}

.item {
    display: flex;
    flex-direction: row;
    margin: 5px;
    font-family: 'Questrial', sans-serif;
}

.item p {
    margin-left: 20rem;
    margin-right: 20rem;
}

.information h2 {
    margin-left: 30%;
    margin-top: 4rem;
    padding: 0.5rem;
    background-color: #346DFF;
    width: 11rem;
    border-radius: 25px;
}

.ressource {
    margin: 1rem;
    background-color: black;
}

.h2Btn {
    margin-left: 3%;
    margin-top: 4rem;
    padding: 0.5rem;
    background-color: #346DFF;
    width: 11rem;
    border-radius: 25px;
}

.ligneBtnSem {
    display: flex;
    flex-direction: row;
}

.btnSem {
    margin: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #346DFF;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
}