@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');
html {
    background-color: #27A6F4;
}

div h2 {
    display: flex;
    text-align: center;
    justify-content: center;
}

#calendrier_absences {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
    margin: 2rem;
}

#calendrier_absences td table {
    border: solid 1px black;
    margin: 1rem;
}

.calendrier {
    display: flex;
    flex-direction: column;
}

.jour {
    border: solid 1px black;
}

.calendrier h2 {
    padding: 7px;
    background-color: #346DFF;
    margin-left: 3%;
    margin-top: 2%;
    width: 160px;
    border-radius: 25px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem;
    font-family: 'Questrial', sans-serif;
}

.item p {
    margin: 2rem;
    margin-left: 20rem;
    margin-right: 20rem;
}

.homePage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.information h2 {
    margin-left: 13%;
    margin-top: 4rem;
    padding: 0.5rem;
    background-color: #346DFF;
    width: 160px;
    border-radius: 25px;
}