@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');
html {
    background-color: #27A6F4;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #27A6F4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#calendrier_absences {
    background-color: transparent;
    margin-left: 50px;
}

#calendrier_absences td table {
    border: solid 1px black;
    margin: 0;
}

.calendrier {
    display: flex;
    flex-direction: column;
}

.jour {
    border: solid 1px black;
}

.calendrier h2 {
    padding: 7px;
    background-color: #346DFF;
    margin-left: 3%;
    margin-top: 2%;
    width: 160px;
    border-radius: 25px;
}

table {
    background-color: #C4C4C4;
    margin: auto;
    height: 150px;
    font-family: 'Questrial', sans-serif;
    font-weight: 200;
    font-size: 15px;
    line-height: 30.9px;
}